@import 'vars.css';
@import 'palette.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font: var(--baseFontWeight) var(--baseFontSize)/var(--baseLineHeight) var(--baseFontFamily);
}

body {
  min-height: 100dvh;
  color: var(--baseColor);
  background: var(--baseBgColor);
  font-size: 2rem;
  transition:
      color 0.5s,
      background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pageLayout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.pageLayout__header:not(:last-child) {
  margin-bottom: 3rem;
}

.pageLayout__main {
  flex-grow: 1;
}

.container {
  max-width: var(--gridWidth);
  margin: auto;
  padding: 0 var(--gridPadding);
  width: 100%;
}
